.header{
    @apply flex justify-center items-center object-cover object-center h-[300px] w-full;
    background-image:url('/about_bg.jpg');
    background-size: cover;
}
.header p{
    @apply text-nowrap font-bold text-white text-4xl
}
.heroText{
    @apply md:w-[500px] h-auto px-[10px] flex flex-col md:justify-center md:items-center mt-[20px] md:mt-0
}
.heroText> p{
    @apply text-2xl font-bold capitalize;
    color:var(--text-color)
}
.heroText>div{
    @apply my-[15px] justify-between items-center w-full md:w-full
}
.heroText>div>p{
    color:var(--text-color);
    @apply text-sm md:text-lg my-[1rem] text-center
}
.roomSection{
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-[10px_10px]
}
.roomSection > div{
    @apply flex flex-col h-[350px] w-[350px] md:w-[400px] md:h-[350px] lg:w-[430px] bg-no-repeat my-[10px] object-contain object-center justify-center items-center px-[10px]
}
.heading, .description{
    @apply text-xs text-white md:text-sm capitalize my-[10px] text-center
}
.heading{
    @apply border-[1px] text-center text-nowrap;
    border-image: linear-gradient( to right, #ffffff, #ffffff) 0 0  1 0;
}
@keyframes border-animation {
    0% {
        border-color: transparent;
        border-top-color: white;
    }
    25% {
        border-right-color: white;
    }
    50% {
        border-bottom-color: white;
    }
    75% {
        border-left-color: white;
    }
    100% {
        border-color: white;
    }
}
.animate-border-animation {
    animation: border-animation 0.5s ease forwards;
}
.review{
    @apply bg-gray-800 p-[20px] gap-[20px] flex flex-col
}
.containerBorder{
    @apply flex lg:border-[2px] border-white bg-gray-900 w-[100%];
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scrollbar-width: none;
}
.scrollContainer{
    @apply lg:top-[10%] lg:left-[10%] min-w-[100%] p-[10px] text-center flex flex-col gap-[10px] justify-around ;
}