@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Spicy+Rice&display=swap');

@keyframes __slideOutLeft {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes __slideInLeft {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
.light-mode {
    --background: #ffffff;
    --text-color: #000000;
    --border-color: #28323e;
}

.dark-mode {
    --background: #000000;
    --text-color: #ffffff;
    --border-color: #6a326a;
}

.navbar{
    @apply flex justify-between items-center h-[50px] px-[5%] shadow-2xl
}
.navbarTexts{
    @apply hidden md:flex justify-between items-center gap-[30px]
}
.navbarTexts p{
    @apply font-light justify-center items-center p-[10px_5px] cursor-pointer;
    color: var(--text-color);
}
.font{
    font-family: 'Spicy Rice', sans-serif;
    /*font-style: italic;*/
    font-weight: 500;
    font-size: xx-large;
}
.navbarInnerText{
    color: var(--text-color);
    font-size: 13px;
    @apply hover:underline
}
.navbarInnerText :hover, .current{
    border-image: linear-gradient(to right, var(--border-color), var(--border-color)) 0 0  1 0;
    border-width: 2px;
    color: var(--text-color);
    font-size:13px;
}

.homeHeroParent{
    background-image:url('/slide-01.jpg');
    background-size: cover;
    @apply flex flex-col object-cover object-center w-full h-[500px] md:h-auto justify-center pl-[10%] pt-[13%] md:py-[10%] gap-[10px] cursor-text;
}
.relax{
    font-family: 'Arial', sans-serif;
    @apply font-extrabold text-nowrap text-[8vw] md:text-7xl;
}
.experience{
    @apply font-thin;
    font-style: italic;
}
.treatment{
    @apply text-nowrap text-xl font-bold;
    font-style: italic;
}
.learn{
    @apply text-nowrap text-2xl font-bold border-[1px] p-[7px_10px] hover:bg-gray-100 w-[150px] flex justify-center items-center rounded hover:text-gray-700
}
.heroForm{
    @apply bg-gray-200 items-center lg:w-[400px] px-[5%] py-[5%_10%] md:p-[10px]
}
.footerInner{
    @apply flex flex-col md:flex-row md:py-[2rem] md:justify-between md:items-center px-[30px] gap-[30px] md:gap-[10px] border-[1px] border-gray-300 py-[20px]
}
.footerInner p{
    font-size: 13px;
    color: black;
}
.footerInner h4{
    color: black;
    padding-bottom: 13px;
}
.footerInner> div{
    @apply md:w-[22rem] py-[14px] bg-gray-200 rounded-md h-[150px] px-[18px] shadow-md border-[1px] border-gray-400
}
.loading-text {
    font-size: 20px;
    font-weight: bold;
    color:var(--border-color);
    animation: zoomInOut 1.5s infinite ease-in-out;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
.slideOut{
    animation: __slideOutLeft .5s ease-in;
    position: absolute;
    z-index: 20;
    display: block;
    background-color: var(--background);
    height: 100vh;
    @apply flex flex-col items-center text-center gap-[10px] pt-[10px] w-[100px]
}
.book{
    @apply p-[5px_10px] text-nowrap border-[2px] rounded-[10px] hover:cursor-pointer w-[100%];
    background:var(--border-color);
    color: white;
    border:var(--border-color);
    font-size: 12px;
}
.slideIn{
    position: absolute;
    z-index: 20;
    display: block;
    background-color: var(--background);
    height: 100vh;
    animation: __slideInLeft .5s ease-in;
    @apply flex flex-col items-center text-center gap-[10px] pt-[10px] w-[100px]
}

/*.inputTags:focus{*/
/*    outline: #171717;*/
/*    @apply border-black border-[1px];*/
/*}*/
/*.inputTags[type="date"]:valid::after{*/
/*    @apply outline-green-700;*/
/*}*/
/*.inputTags[type="date"]:invalid::after{*/
/*    @apply outline-red-500;*/
/*    color: red;*/
/*    font-size: 12px;*/
/*    margin-top: 5px;*/
/*    display: block;*/
/*}*/
/*.inputTags[type="text"]:invalid::after{*/
/*    @apply outline-red-500 w-[80%] md:w-[60%];*/
/*    color: red;*/
/*    font-size: 12px;*/
/*    margin-top: 5px;*/
/*    display: block;*/
/*}*/
.hotelCardTexts{
    display :flex;
    flex-direction: column;
    gap:5px;
    @apply w-4/5 pt-[20px];
}
.hotelCardTexts h4{
    @apply text-[13px] sm:text-[17px] font-[700] text-black w-full;
    font-family: Arial,Helvetica, sans-serif;
}
.hotelCardTexts p{
    @apply text-[13px] font-thin capitalize text-black
}
.sectionPack{
    @apply flex flex-col lg:flex-row md:gap-[40px];
}
.sectionPack >* >p{
    @apply text-[15px] text-black font-[600] ;
    font-family: 'Arial', sans-serif;
}
.sectionPack> *{
    @apply gap-[10px] flex flex-col pt-[20px]
}
.sectionPack input{
    @apply rounded px-[10px] w-[80%] md:w-[300px] h-[45px] border-black border-[1px] active:border-none  text-black outline-[#4a90e2] outline-[2px] cursor-pointer;
}